.checkout-container{
    padding-top: 2rem;
}

.stripe-container, .cashfree-container{
    max-width: 400px;
    width: 100%;
    margin: auto;
    > form {
      @include flex(column, flex-start, stretch, 2rem);
    }
    button {
      @include btn(1rem, $color3, $color1);
      width: 100%;
      font-size: 1.1rem;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
}

.pay-page-info{
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}

.pay-order-item{
  margin: 10px;
}